.container {
    text-align: center;
}

@media only screen and (orientation:portrait) {
    div {
        margin-bottom: 10px;
    }
}

@media only screen and (orientation:landscape) {
    div {
        margin-bottom: 10px;
    }
}

.recipe-images {
    width:40vh;
    height:50vh;
    /* display:inline; */
}

@media only screen and (max-width: 600px) {
    #disappearing-image {
        display:none;
    }

    #attempt {
        display:none;
    }

}